:root {
   --r-heading-text-transform: normal;
   --r-heading1-text-shadow: black 10px 10px 10px;
   --r-heading-text-shadow: black 5px 5px 5px;
}
.container{
  display: flex;
}

.col{
  flex: 1;
  margin-left: 15px;
}

.small .codeblock pre {
  font-size: 15px;
}
.small, .reveal blockquote.small, .reveal .small blockquote {
  font-size: 24px;
}

.box {
  background-color: #eee;
  box-shadow:  black 5px 5px 5px;
}

.reveal blockquote {
  font-size: 0.6em;
}
